@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.over::-webkit-scrollbar {
  display: none;
}

.over {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.contain {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  scroll-snap-align: start;
}

.nav {
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  background-color: black;
}

.section {
  background-color: #003049;
}

.bottom {
  background-color: #4f5d75;
}

.gold {
  color: #fca311
}

.child {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Animations for project */

.submit:before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: #fca311;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}

.submit:hover::before {
  transform: scaleX(1);
}

.slide-in {
  transform: translateX(-20px);
}


@media screen and (min-width: 1024px) {
  .slide-in {
    transform: translateX((50px));
  }
}

@media screen and (max-width: 1270px) {
  .contain {
    scroll-snap-type: none;
  }
}