@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

.section {
    background-color: #003049;
}

.bottom {
    background-color: #4f5d75;
}

.gold {
    color: #fca311
}

/* body {
    background-color: #4f5d75;

} */